@model COMP003B.LectureActivity3.Models.Product

<h2>Submission Successful!</h2>

<ul>
    <li><strong>Name:</strong> @Model.Name</li>
    <li><strong>Price:</strong> $@Model.Price</li>
    <li><strong>Release Date:</strong> @Model.ReleaseDate.ToShortDateString()</li>
    <li><strong>Category:</strong> @Model.Category</li>
    <li><strong>Notes:</strong> @Model.Notes</li>
</ul>
